<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" />
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="user_name"><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></li>
          <li><%= link_to "Members", users_path %></li>
          <li><%= link_to "Sign-out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign-in", new_user_session_path %></li>
          <li><%= link_to "Sign-up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </header>

    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
    <script type="text/javascript">$(function(){ $(document).foundation(); });</script>
  </body>
</html>